<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- 尾部 -->
<footer class="bg-dark" th:fragment="footer">
    <div class="container">
        <div class="row">
            <!-- 二维码 -->
            <div class="col-4 qrcode">
                <img src="https://uploadfiles.nowcoder.com/app/app_download.png" class="img-thumbnail" style="width:136px;" />
            </div>
            <!-- 公司信息 -->
            <div class="col-8 detail-info">
                <!--<div class="row">
                    <div class="col">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">关于我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">加入我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">意见反馈</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">企业服务</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">联系我们</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">免责声明</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">友情链接</a>
                            </li>
                        </ul>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col">
                        <ul class="nav btn-group-vertical company-info">
                            <li class="nav-item text-white-50">
                                联系方式：18285326888(电话)&nbsp;&nbsp;&nbsp;&nbsp;983196361@qq.com
                            </li>
                            <li class="nav-item text-white-50">
                                CJL©2020 All rights reserved
                            </li>
                            <li class="nav-item text-white-50">
                                京ICP备14055008号-4 &nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="http://static.nowcoder.com/company/images/res/ghs.png" style="width:18px;" />
                                京公网安备 11010502036488号
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>